* {
    margin: 0%;
    padding: 0%;
   overflow-x: hidden;

}
#outer-parent{
    width: 100vw;
    overflow:hidden;
    
}

#header {
    background-color: rgba(0, 0, 0, 0.808);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
    /* border: 2px solid darkorange; */
    box-sizing: border-box;
}

#logo {
    color: antiquewhite;
}

#menu {
    width: 33%;
    background-color: rgba(0, 0, 0, 0.287);
}

ul li {
    list-style: none;
    /* border: 2px solid red; */
    color: antiquewhite;
    font-size: 12px;
    
}

ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 9px 0px;
    /* border:  2px solid green; */
}

#sec-section {
    height: 360px;
    width: 960px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.808);
    justify-content: center;
    align-items: center;
    display: flex;
    color: antiquewhite;
}

#third-sec {
    width: 960px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.common-hight-width {
    background-color: rgba(0, 0, 0, 0.808);
    width: 290px;
    height: 180px;
    margin: 20px 0px;
    color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
}

#parent {
    width: 290px;
    padding-bottom: 15px;
}

.third-sec-h3 {
    margin-bottom: 10px;
}

.third-sec-p {
    margin-bottom: 15px;
}

.third-sec-btn {
    color: red;
    position: relative;
    left: 185px;

}

#forword-icon {
    position: relative;
    top: 5px;
}
#fourth-sec{
    width: 960px;
    margin: auto;
    /* background-color: bisque; */
    display: flex;
    padding-bottom: 20px;
    justify-content: space-between;
    /* border: 2px solid purple; */
}
#fourth-sec-content{
    width: 50%;
    /* background-color: blueviolet; */
    position: relative;
}
.fourth-sec-first-p-highlight{
    color: red;
}
#fourth-sec-first-p{
    margin: 8px 0px;
}
#fourth-sec-sec-p{
    margin-bottom: 10px;
}
.fourth-sec-btn{
    color: red;
    position: absolute;
    bottom: 50px;
    right: 10px;
}
#forword-icon {
    position: relative;
    top: 5px;
}
#fourth-sec-content-img{
    width: 50%;
    /* background-color: burlywood; */
}
#img-width-hight{
    width: 450px;
    height: 250px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
#fiveth-sec{
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.935);
    color: antiquewhite;
    padding: 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid green; */
}
#fiveth-sec-division{
    width: 16%;
    color:orangered;
    margin: 8px 15px;
}
.fiveth-sec-heading{
    color: antiquewhite;
    margin: 9px 0px;
}
#footer{
    /* background-color: aquamarine; */
    display: flex;
    width: 100vw;
    margin: auto;
    justify-content: space-evenly;
    padding: 10px 0px;
    border-top:  1px solid rgba(0, 0, 0, 0.729);
    background-color: black;
    color: beige;
}